mixin list-item(data)
  .list-item(class!=attributes.class)
    .list-item__inner
      .list-item__img-wrap

        a.list-item__img(href='#' style="background-image: url('img/" +data.href+ "')")
          .list-item__img-hover
          
      .list-item__text
        .list-item__title
          a(href='#').link.link--blacked !{data.title}

        if data.time
          p.list-item__time !{data.time}
            

        if data.desc 
          p.list-item__desc !{data.desc}

        if data.tags
          .list-item__tags
            each val in data.tags
              span.list-item__tag val

mixin menu(data)
  .container

      nav.menu-block
        ul.d-flex.flex-row.flex-wrap.justify-content-center.align-items-center
          each val in data
            li.menu-block__item-wrap
              if val.active
                a(href='#').menu-block__item.active= val.title
              else
                a(href='#').menu-block__item= val

mixin gallery(data)
  .gallery__item.col-6.col-md-4.col-lg-3(class!=attributes.class)
  
    
    a.gallery__item-wrap(href= data.img data-src= data.img)
        img.gallery__img(src= data.thumb)
        .gallery__hover 

    if data.desc
      .gallery__link-wrap
        a(href="#!").gallery__desc.link--blacked= data.desc

mixin callToActionSimple(data)
  .call-to-action-simple
    .container

      if data.title
        h2= data.title
      p= data.desc

      .call-to-action-simple__button
        .btn.btn--outline.btn--black= data.btnTitle
