footer.footer
  .footer__callback
    .container.d-flex.align-items-center.justify-content-center
      p Вы можете получить консультацию по телефону: 
      a.footer__tel(href='tel:88005555555') 8-800-555-55-55
      p или
      a.btn(href='#') Задать вопрос

  nav.footer__nav
    .container
      .row
        each nav in navsFooter
          .col-6.col-md-3
            h4.footer__nav-item
              a(href=nav.url)= nav.title

      .row
        each nav in navsFooter
          .col-6.col-md-3
            .row.footer__nav-childs
              each child in nav.childs
                .col-6.col-md-12
                  a.nav-link(href=child.url)= child.title

  .footer__address 
    .container
      .row
        each address in footerAddress
          .col-6.col-md-3
            h5= address.title
            p= address.phone
            p= address.address
        
        .col-6.col-md-3
          a.footer__logo(href='#')

  .footer__copy
    .container
      .row
        .col-6.col-md-3
          p © 2018, nextech39.ru
          
        .col-6.col-md-3.d-flex.align-items-center
          .social.d-flex
            a.social__link.social__in(href='#')
            a.social__link.social__fb(href='#')
            a.social__link.social__yt(href='#')

        .col-6.col-md-3
          p 
            a.link(href='mailto:info@newtech39.ru') info@newtech39.ru
        .col-6.col-md-3
          p 
            | Разработка - 
            a.link(href='#') Onebanan Studio





script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(type='text/javascript' src='scripts/libs.min.js')
script(type='text/javascript' src='scripts/main.js')